*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:verdana;
}

body{
	width:100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header{
	padding-left: 20px;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content:flex-start;	margin-bottom: 20px;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

footer{
	min-height: 80px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mensagem{
	color: white;
	font-size: 1.2em;
	margin-top: 10px;
}

.barra-pesquisa{
	min-width:35vw;
	max-width: 45vw;
	height: 35px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #f5f5f5;
}

#barra-pesquisa{
	min-width: 90%;
	height: 30px;
	font-size: 0.9em;
	border: none;
	outline: none;
	background-color: inherit;
}

#btn-pesquisa{
	min-width: 5%;
	height: 70%;
	border:none;
	background-color: inherit;
}

main{
	width: 100vw;
	padding: 0px 20px 0px 20px;
	flex-grow: 1;
}

#logo{
	min-width: 2vw;
	height:35px;
	margin-right: 3vw;
}

#logo img{
	width: 100%;
	height: 100%;
}

#btn-pesquisa img{
	max-width: 70%;
	max-height: 70%;
}

.container-galeria{
	min-height: inherit;
	height: auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}

.mensagem{
	color: black;
	font-size: 1.1em;
	margin-top: 10px;
	width: 100%;
	min-height: 15px;
	text-align: center;
}

.container-galeria-imagem{
	min-width: 100px;
/*	max-width: 370px;*/
	height: 250px;
	display:flex;
	margin-bottom: 20px;
	position: relative;
/*	background-color: #f5f5f5;*/
	margin-right: 10px;
	margin-bottom: 10px;
}

.galeria-texto{
	min-height: 40px;
	width: 100%;
	background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3) );
	color:white;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	font-size: 0.8em;
	word-spacing: 10px;
    opacity: 0;
	z-index: 999;
	position: absolute;
	padding-left: 20px;
	bottom: 0;
}

.container-galeria-imagem:hover > p{
	transition: opacity .5s linear;
    opacity: 1;
}

.galeria-imagens{
	width: 100%;
	height: 100%;
/*	position: relative;*/
}





/*slide*/
.slide{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: opacity .5s linear;
}

.slide:target{
    z-index: 999;
    opacity: 1;
	background-color: rgba(0,0,0,0.8)
}

.imagem-container{
    height: 60%;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imagem-container img{
    height: 100%;
    width: 100%;
}
.slide .fechar{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s inline;
    text-decoration: none;
    transition: all .3s linear;
	border-radius: 50px;
}

.slide .fechar:hover{
    background-color: tomato;
}

.slide .navegacao{
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    color: white;
    background-color:rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
	border-radius: 50px;
	font-weight: bold;
}

.slide .anterior {
    left: 0;
}

.slide .proximo{
    right: 0;
}
